h1{
    text-align: center;
}

table {
    width:550px; 
    height:350px; 
    margin: 0 auto;
    border-collapse: collapse;    
}

tr {
    font:bold 46px Verdana;
}

td {
    width:33.33%;
    border: 1px solid black;
    text-align:center;    
}

td:hover {
    cursor:pointer;
}
